<section  class="nav-breadcrumb">
    <ul class="breadcrumb">
        <li>
            <a>Inicio</a>
        </li>
        <li>
            <a>Libros</a>
        </li>
        <li>
            <a>Detalle</a>
        </li>
    </ul>
</section>
<div class="book" id="book">    
</div> 

<script id="templateBook" type="text/ractive">
    <h1>{{title}}</h1>
    <div class="book-description">
        <p>
            {{publisher}}
        </p>
        <p>
            {{publishedDate}}
        </p>
    </div>
    <div class="book-image">
        <img src={{imageLinks.smallThumbnail}} >
    </div>
</script>